# utility
zmodule environment
zmodule git
zmodule input
zmodule termtitle
zmodule utility

# prompt
zmodule duration-info
zmodule git-info
zmodule prompt-pwd

# custom
zmodule fzf
zmodule kiesman99/zim-zoxide

# completion
zmodule zsh-users/zsh-completions --fpath src
zmodule completion

# fish
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-autosuggestions



